*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.foto {display: block}
.foto:hover {
  display: block;
}


p {
display: block;
  font-size: 3em;
  line-height: 1.518;
  max-width: 100%;
  margin: 0 auto;
}
h2 {
color: #e74c3c;
  left: 130px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3em;
  line-height: 1.518;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}


body {

  margin-right:0px;
  margin-left:0px;
  font-size: 28px;
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-family: 'Lato', Arial, sans-serif;
}
h1 {
color: #e74c3c;
  display: block;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;

	line-height: 1.3;
	margin: 0;
	font-weight: 300;
  color: black;
  font-family: futura-pt-bold, sans-serif;
font-style: normal;
font-weight: 700;
}
span  {

	display: block;
	font-size: 40%;
	color: black;
	padding: 0 0 0.6em 0.1em;
  font-family: futura-pt, sans-serif;
  font-style: lighter;
  font-weight: 300;
}
.content {
  margin: 0;
  font-size: 7px;
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-family: 'Lato', Arial, sans-serif;

  font-style: normal;


  line-height: 1.518;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}




.header {

  position: relative;

  top:0px;
  bottom:0px;
  margin: 0 0;

	text-align: center;
	color: black;



  font-family: 'Lato', Arial, sans-serif;
overflow: hidden;
height: 80vh;

}

a {
  text-decoration: none;
}
#navbar {
  overflow: hidden;
  background-color:white;
height: 20vh;
}


#navbar a {

  float: left;
  color: black;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 17px;
display: block;


	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);

}
nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 1: Brackets */
#navbar a::before,
#navbar a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

#navbar a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

#navbar a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

#navbar a:hover::before,
#navbar a:hover::after,
#navbar a:focus::before,
#navbar a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

#navbar a:hover {
  background-color: white;
  	color: #e74c3c;
}

#navbar a.active {
  background-color: white;
  color:black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
